body {background-color: ;
text-alight: center;
	text-shadow: 1px 1px tan;
}
.bgimg1{
	background-image: url("pics/bg.jpg");
}

.bgimg2{
	background-image: url("pics/heart.jpg");
}

.bgimg3{
	background-image: url("pics/bg.jpg");
}

.bgimg4{
	background-image: url("pics/heart.jpg");
}

.bgimg1,.bgimg2,.bgimg3,.bgimg4{
	position: relative;
  opacity: 0.65;
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

h1 {
	color: #5B2089;
}

h2{
	color: #3737B3;
}

p{
	color: #1C1C35;
}
h3{
	color:#270D1F;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#teams {
    margin: 50px auto 20px auto;
  }

  .team0,.team1,.team2,.team3,.team4 {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }

  #lin,#chie,#plat,#blake,#naoto,#carmine,#mai,#labrys,#neo,#adachi {
    background-color: black;
    padding: 50px;
    padding-top: 0px;
    width: 250px;
    box-shadow: 0 0px 8px 2px black;
    transition: 0.6s ease;
  }

  #lin:hover {
    background-image: url("pics/Linne.jpg");
  background-position: -600px -40px;
  }

  #chie:hover {
    background-image: url("pics/Chie.jpg");
  background-position: -100px -40px;
  }

   #plat:hover {
    background-image: url("pics/Platinum.jpg");
  background-position: -600px -90px;
  }

 #blake:hover {
    background-image: url("pics/Blake.jpg");
  background-position: -100px -40px;
  }

 #naoto:hover {
    background-image: url("pics/Naoto.jpg");
  background-position: -130px -40px;
  }

 #carmine:hover {
    background-image: url("pics/Carmine.jpg");
  background-position: -800px 0px;
  }

 #mai:hover {
    background-image: url("pics/Mai.jpg");
  background-position: -800px -40px;
  }

 #labrys:hover {
    background-image: url("pics/Labrys.jpg");
  background-position: -400px -40px;
  }

 #neo:hover {
    background-image: url("pics/Neo.jpg");
  background-position: -70px -200px;
  }

 #adachi:hover {
    background-image: url("pics/Adachi.jpg");
  background-position: -40px -150px;
  }
