* {
	font-family: "Lucida Console", monospace;
	color: black;
	text-shadow: 1px 1px tan;
}
body {
	background-color: tan;
	text-align: center;
	padding: 20px;
	text-shadow: 1px 1px tan;
}

p,h1,h2,h3 {
	text-align: center;
}

img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

img:hover{
	opacity: .7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#naoto{
	background-image: url("pics/Naoto.jpg");
	padding: 20px;
}

#carmine{
	background-image: url("pics/Carmine.jpg");
	padding: 20px;
}

#naoto,#carmine{
	position: relative;
  /*opacity: 0.65;*/
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
