/* Cameron's Page (cameronsPage.html) stylesheet */

* {
	font-family: 'Roboto', sans-serif;
	color: white;
}

body {
    background-color: #2b2956;
    background-image: linear-gradient(black, #2b2956, #5652ac, #aaa8d5);
}

hr {
	border: 4px solid black;
	border-radius: 5px;
	width: 80%;
}

header {
    text-align: center;
    background-color: black;
    height: 325px;
}

footer {
    background-color: #5652ac;
    text-align: center;
    padding: 10px;
}
  
header div {
  background-image: url("../resources/images/devoLogo.png");
  background-repeat: repeat-x;
  background-size: 50px 50px;
  background-position: center;
  height: 75px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    height: 100%;
}

 nav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.4s ease;
}

nav ul li a:hover {
    background-color: #2b2956;
}

 ol {
    text-align: left;
    width: 80%;
    margin: auto;
}

  footer a {
    text-decoration: none;
    color: white;;
    padding: 10px;
}
  
  footer a:hover {
    color: lightgrey;
}
  
  footer p {
    color: white;
    margin: 0;
    padding: 2px;
}

#wholeBody {
    display: grid;
    grid-template-columns: auto auto;
}

#bodyContent {
    padding: 20px;
    text-align: center;
}

#aboutMe {
    width: 50%;
    margin: 20px auto 50px auto;
}

#skillsXP {
    margin: 20px auto 50px auto;
}

#skillsCont {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
}

.skillsList {
    text-align: left;
    width: 80%;
    margin: auto;
}

#workTools {
    margin: 50px auto 20px auto;
}

#toolsPlatforms {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.displayCard {
    background-color: black;
    padding: 20px;
    padding-top: 0px;
    width: 250px;
    box-shadow: 0 0px 8px 2px black;
    transition: 0.6s ease;
}

.displayCard:hover {
    background-color: #2b2956;
}

.displayCard2 {
    background-color: black;
    padding: 10px;
    padding-top: 0px;
    width: 450px;
    box-shadow: 0 0px 8px 2px black;
    transition: 0.6s ease;
}

.displayCard2:hover {
    background-color: #2b2956;
}

#portfolioContent {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}
