/* Damon's page (damonsPage.html) stylesheet */
* {
	font-family: 'Arial', sans-serif;
	color: #F8F8FF;
}

body {
    background-color: #2b2956;
    background-image: linear-gradient(black, #2b2956, #5652ac, #aaa8d5);
}

hr {
	border: 4px solid black;
	border-radius: 5px;
	width: 80%;
}

header {
    text-align: center;
    background-color: black;
    height: 325px;
}

header div {
  background-image: url("../resources/images/devoLogo.png");
  background-repeat: repeat-x;
  background-size: 50px 50px;
  background-position: center;
  height: 75px;
}

#bodySection {
  display: grid;
  grid-template-columns: auto auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    height: 100%;
  }
  
  nav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.4s ease;
  }
  
  nav ul li a:hover {
    background-color: #2b2956;
  }

  #bodyContent {
    padding: 20px;
    text-align: center;
  }

  #aboutMeCont {
    width: 50%;
    margin: 20px auto 50px auto;
  }

  #skillsExpCont {
    margin: 20px auto 50px auto;
  }

  #skillsBody {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
  }

  .skillsUL {
    text-align: left;
    width: 80%;
    margin: auto;
  }

  ul {
    text-align: left;
    width: 80%;
    margin: auto;
  }

  #sampleCont {
    content:"";
    clear: both;
    display: grid;
    color: #C0C0C0;
    text-decoration: underline;
    text-decoration: #C0C0C0
    
  }
  
  .sampleExBody {
    grid-template-columns: auto auto;
   /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    padding: 5px;
  }


/*
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }.  */

  #contactCont {
    margin: 50px auto 20px auto;
  }

  #contactExs {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }

  .contactCard {
    background-color: black;
    padding: 20px;
    padding-top: 0px;
    width: 250px;
    box-shadow: 0 0px 8px 2px black;
    transition: 0.6s ease;
  }

  .contactCard:hover {
    background-color: #2b2956;
  }

  footer {
    background-color: #5652ac;
    text-align: center;
    padding: 10px;
  }
  
  footer a {
    text-decoration: none;
    color: white;;
    padding: 10px;
  }
  
  footer a:hover {
    color: lightgrey;
  }
  
  footer p {
    color: white;
    margin: 0;
    padding: 2px;
  }
