/* Homepage (index.html) stylesheet */

* {
	font-family: 'Roboto', sans-serif;
	color: white;
}

body {
	background-color: #2b2956;
}

h1 {
	font-size: 48px;
}

nav ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
	overflow: hidden;
	display: flex;
  	align-items: center;
  	justify-content: center;
	background-color: black;
	box-shadow: 0 8px 6px -6px black;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
	font-size: 18px;
	transition: 0.2s ease;
}

nav ul li a:hover {
	color: white;
	background-color: #2b2956;
}

#aboutUs {
	background-color: #2b2956;
	padding: 10px;
	text-align: center;
}

.aboutText {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#theTeam {
	background-color: #2b2956;
	padding: 10px;
	text-align: center;
	border-top: 3px solid black;
}

#teamBox {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	justify-content: space-evenly;
}

#teamBox a {
	text-decoration: none;
}

.teamGroup {
	padding: 15px;
	width: 300px;
	transition: 0.4s ease;
}

.teamGroup:hover {
	background-color: #5652ac;
	box-shadow: 0 0px 10px 3px black;
}

.teamMemberPic {
	border-radius: 50%;
}

#testimonials {
	background-color: #2b2956;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-top: 3px solid black;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  max-width: 1000px;
  box-shadow: 0 0px 10px 3px black;
}

/* Hide the images by default */
.mySlides {
  display: none;
  background-color: #5652ac;
  height: 400px;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 93%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.reviewText {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	width: 80%;
	font-weight: bold;
}

.reviewName {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: normal;
}

#busInquiries {
	background-color: #2b2956;
	padding: 10px;
	text-align: center;
	border-top: 3px solid black;
}

form {
	background-color: #5652ac;
	padding: 20px;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 0 0px 10px 3px black;
	text-align: left;
}

form h2 {
	font-size: 36px; 
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

form p {
	padding-top: 0px;
	margin-top: 0px;
	color: #aaa8d5;
	margin-bottom: 40px;
}

label {
	font-weight: bold;
	font-size: 20px;
	color: white;
}

#nameInput {
	border: none;
	border-bottom: 3px solid #2b2956;
	margin: 10px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-left: 2px;
	font-size: 18px;
	width: 95%;
	color: black;
}


#emailInput {
	border: none;
	border-bottom: 3px solid #2b2956;
	margin: 10px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-left: 2px;
	font-size: 18px;
	width: 95%;
	color: black;
}

#nameInput:focus, #emailInput:focus {
	border-color: #aaa8d5;
}

#msgInput {
	border: 3px solid #2b2956;
	margin: 10px;
	margin-bottom: 20px;
	resize: vertical;
	width: 95%;
	font-size: 18px;
	color: black;
}

#msgInput:focus {
	border-color: #aaa8d5;
}

#submitBn {
	margin: 10px;
	cursor: pointer;
	border: none;
	background-color: #2b2956;
	padding: 10px;
	font-size: 18px;
	color: white;
}

#submitBn:hover {
	background-color: #aaa8d5;
}

footer {
	background-color: #5652ac;
	text-align: center;
	padding: 10px;
}

footer a {
	text-decoration: none;
	color: white;;
	padding: 10px;
}

footer a:hover {
	color: lightgrey;
}

footer p {
	color: white;
}