/* Homepage (index.html) stylesheet */

* {
	font-family: 'Roboto', sans-serif;
	color: white;
}

body {
	background-color: #2b2956;
}

nav ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
	overflow: hidden;
	display: flex;
  	align-items: center;
  	justify-content: center;
	background-color: black;
	box-shadow: 0 8px 6px -6px black;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
	font-size: 18px;
	line-height: 
}

nav ul li a:hover {
	color: black;
	background-color: grey;
}

header {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#aboutUs {
	background-color: #5652ac;
	padding: 10px;
	text-align: center;
}

#theTeam {
	background-color: #5652ac;
	padding: 10px;
	text-align: center;
}

#testimonials {
	background-color: #5652ac;
	padding: 10px;
	text-align: center;
}

#busInquiries {
	background-color: #5652ac;
	padding: 10px;
	text-align: center;
}

form {
	background-color: #aaa8d5;
	padding: 20px;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 0 8px 6px -6px black;
	text-align: left;
}

label {
	font-weight: bold;
	font-size: 20px;
	color: #2b2956;
}

#nameInput {
	border: none;
	border-bottom: 3px solid #2b2956;
	margin: 10px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-left: 2px;
	font-size: 18px;
	width: 95%;
}


#emailInput {
	border: none;
	border-bottom: 3px solid #2b2956;
	margin: 10px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-left: 2px;
	font-size: 18px;
	width: 95%;
}

#nameInput:focus, #emailInput:focus {
	border-color: rgb(42, 84, 199);
}

#msgInput {
	border: 3px solid #2b2956;
	margin: 10px;
	margin-bottom: 20px;
	resize: vertical;
	width: 95%;
	font-size: 18px;
}

#msgInput:focus {
	border-color: rgb(42, 84, 199);
}

#submitBn {
	margin: 10px;
	cursor: pointer;
	border: none;
	background-color: #2b2956;
	padding: 10px;
	font-size: 18px;
	color: white;
}

#submitBn:hover {
	background-color: #2b2956;
}

footer {
	background-color: #2b2956;
	text-align: center;
	padding: 10px;
}

footer a {
	text-decoration: none;
	color: white;;
	padding: 10px;
}

footer a:hover {
	color: lightgrey;
}

footer p {
	color: white;
}